<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340531996531-frnli85bpo6iivklulenm2efud85j0fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340531996531-frnli85bpo6iivklulenm2efud85j0fr</string>
	<key>API_KEY</key>
	<string>AIzaSyBItsLKPPmxwa3Zo5_5UkXGHTszCZCGQA0</string>
	<key>GCM_SENDER_ID</key>
	<string>340531996531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrdijital.FastApp</string>
	<key>PROJECT_ID</key>
	<string>fastapp-a82ed</string>
	<key>STORAGE_BUCKET</key>
	<string>fastapp-a82ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340531996531:ios:25f1022dc762d1babec706</string>
</dict>
</plist>